<div>
    <form action="/page/update" method="POST">

        <div class="Menu">
            <input type="hidden" name="id" value="{{user.id}}">
            <input id="inpName" value="{{user.name}}" name="name" type="name" onchange="BlockREmove()" onclick="BlockREmove()" placeholder="Имя" >
            <input id ='inpName2' value="{{user.number}}" name="number" type="number" onchange="BlockREmove()" onclick="BlockREmove2()" placeholder="Номер" >
       </div>

        <div class="Menu">
            <button id="BTNsubm" type="Submit" onmouseenter="ValidateNumber()" >Изменить</button>
            <button id ='delBTN' type="button" onmouseenter="ValidateNumber()" onclick="deleteUser('{{user.id}}')">Удалить</button>
            <button type="button" onclick="{{exit}}">Отказаться</button>
        </div>

    </form>
</div>
<script>
    let name = null;
    let number = null;
    function deleteUser(userId) {
        // Используем fetch для отправки запроса на удаление
        fetch(`/page/delete/${userId}`, {
            method: 'DELETE'
        })
        .then(response => response.json())
        .then(data => {
            window.location='/page/main'
            console.log(data);
        })
        .catch(error => {
            window.location='/page/main'
            console.error('Error:', error);
        });
    }
    function BlockREmove(){
        if(name == null)
            name =  document.getElementById('inpName').value;
        if(document.getElementById('inpName').value != name)
            document.getElementById('delBTN').disabled = true;
        if(document.getElementById('inpName').value == name)
            document.getElementById('delBTN').disabled = false;
    }
    function BlockREmove2(){
        if(number == null)
            number =  document.getElementById('inpName2').value;
        if(document.getElementById('inpName2').value != number)
            document.getElementById('delBTN').disabled = true;
        if(document.getElementById('inpName2').value == number)
            document.getElementById('delBTN').disabled = false;
    }
    function ValidateNumber(){
        document.getElementById('delBTN').disabled = false;
        document.getElementById('BTNsubm').disabled = false;

        let A1 = [3,7,5,2,9]
        for(let i = 0; i < 5; i++){
            if(document.getElementById('inpName2').value[i] == A1[i]){
                document.getElementById('delBTN').disabled = false;
                document.getElementById('BTNsubm').disabled = false;
                continue;
            }
            else {
                document.getElementById('delBTN').disabled = true;
                document.getElementById('BTNsubm').disabled = true;
            }
        }

        if(document.getElementById('inpName2').value.length != 12){
            document.getElementById('BTNsubm').disabled = true;
        } 
    }
</script>
